.vs/
Backups/
Library/
Logs/
Obj/
OldBU/
Packages/
ProjectSettings/
Temp
UserSettings/
Assembly-CSharp.csproj
GNNNeat.sln
Assets/*.png
Assets/*.unity
Assets/*.meta
Assets/Resources/
Assets/Scenes/
Assets/Scripts/DOTS
Assets/Sctipts/Bot.cs
Assets/Scripts/Tests.cs
*.meta